[Desktop Entry]
Name=Cypher Notepad
Comment=Edit text files with hybrid encryption
Exec=bash /opt/CypherNotepad/CypherNotepadLauncher
Icon=/opt/CypherNotepad/CypherNotepad.png
Terminal=false
Type=Application
Categories=Unknown

